@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/app/Scripts/userlist.js"></script>
    <script src="~/app/Scripts/userController.js"></script>
}
<div ng-app>
    {{2+3}}
</div>
<div data-ng-app="userlist">
    <div ng-controller="userController">{{message}}
        <table border="1">
            <tr class="text-center">
                <td style="width:100px">id</td>
                <td style="width:100px">name</td>
                <td style="width:100px">sex</td>
                <td style="width:100px">age</td>
                <td style="width:100px">height</td>
                <td style="width:100px">weight</td>
            </tr>
            <tr class="text-center" ng-repeat="item in user">
                <td>
                    {{item.number}}
                </td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.sex}}
                </td>
                <td>
                    {{item.age}}
                </td>
                <td>
                    {{item.height}}
                </td>
                <td>
                    {{item.weight}}
                </td>
                <td>
                    <input type="button" data-ng-click="delete(user,userid,$index)" value="delete" />
                </td>
            </tr>
        </table>
    </div>
</div>